<!DOCTYPE html>
<html>
<head>
  <title>Rails TodoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">App Name</a>
      <ul class="nav navbar-nav float-lg-right">
        <li class="nav-item">
          <%= link_to "New To-do List", new_todo_list_path, :class => "nav-link" %>
        </li>
      </ul>
</nav>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
